/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif; /* Set font family */
  background-color: #18181b; /* Set background color */
  color: white; /* Set text color */
}

/* Background Blur */
.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #1d4ed8; /* Add a blur effect */
  z-index: -100;
}

/* Container */
.container {
  margin: 20px auto; /* Set margin */
  max-width: 100%; /* Set maximum width */
  height: 100vh; /* Set height to 100% of viewport height */
}

/* Rows */
.row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

/* Horizontal Rule */
hr {
  box-shadow: 0 0 1000px 50px #1d4ed8; /* Add a decorative effect */
}

/* Game Info */
.game-info {
  display: flex;
  justify-content: space-between; /* Align items evenly */
}

.game-info .game-name {
  flex: 1;
}

.game-info .category {
  flex: 1;
  text-align: right;
}

/* Category Styling */
.game-info .category span {
  text-transform: capitalize;
  color: #e31e63;
  font-weight: bold;
}

/* Hangman Styles */
.hangman-draw {
  flex: 1;
  background-color: transparent;
  padding: 20px;
  max-width: 50%; /* Adjust the maximum width as needed */
  box-shadow: 0px 0px 60px -4px rgba(29, 78, 216, 0.58);
}

/* Hangman Drawing Styles */
.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #fff;
  position: relative;
  margin: auto;
  left: -60px;
  display: none;
}

.hangman-draw .the-stand::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #fff;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  display: none;
}

.hangman-draw .the-hang {
  display: none;
}

.hangman-draw .the-hang::before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #fff;
  width: 100px;
  left: 30px;
  top: 15px;
}

.hangman-draw .the-hang::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 4px;
  height: 30px;
  left: 130px;
  top: 15px;
}

.hangman-draw .the-rope {
  width: 70px;
  height: 70px;
  border: 4px dashed #fff;
  border-radius: 50%;
  position: absolute;
  left: 95px;
  top: 45px;
  display: none;
}

.hangman-draw .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #fff;
  position: absolute;
  top: 55px;
  left: 105px;
  display: none;
}

.hangman-draw .the-man .body {
  position: absolute;
  background-color: #fff;
  width: 4px;
  height: 110px;
  top: 102px;
  left: 130px;
  display: none;
}

.hangman-draw .the-man .hands {
  display: none;
}

.hangman-draw .the-man .hands::before,
.hangman-draw .the-man .hands::after {
  content: "";
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #fff;
  top: 140px;
}

.hangman-draw .the-man .hands::before {
  left: 85px;
  transform: rotate(30deg);
}

.hangman-draw .the-man .hands::after {
  left: 130px;
  transform: rotate(-30deg);
}

.hangman-draw .the-man .legs {
  display: none;
}

.hangman-draw .the-man .legs::before,
.hangman-draw .the-man .legs::after {
  content: "";
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #fff;
  top: 220px;
}

.hangman-draw .the-man .legs::before {
  left: 85px;
  transform: rotate(-30deg);
}

.hangman-draw .the-man .legs::after {
  left: 130px;
  transform: rotate(30deg);
}

/* Displaying the hangman depending on the classes that are set on the js */
.hangman-draw.wrong-1 .the-draw {
  display: block;
}

.hangman-draw.wrong-2 .the-stand::before {
  display: block;
}

.hangman-draw.wrong-3 .the-hang {
  display: block;
}

.hangman-draw.wrong-4 .the-rope {
  display: block;
}

.hangman-draw.wrong-5 .head {
  display: block;
}

.hangman-draw.wrong-6 .body {
  display: block;
}

.hangman-draw.wrong-7 .hands {
  display: block;
}

.hangman-draw.wrong-8 .legs {
  display: block;
}

/* Letters Styling */
.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}

.letters.finished {
  pointer-events: none;
}

.letters .letter-box {
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #27272a;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 13px;
  background: rgba(29, 78, 216, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.3px);
  -webkit-backdrop-filter: blur(15.3px);
  border: 1px solid rgba(29, 78, 216, 1);
}

/* Clicked Letter Styling */
.letters .letter-box.clicked {
  background-color: #fff;
  opacity: 0.2;
  pointer-events: none;
}

/* Letter Guess Styles */
.letters-guess {
  margin: 10px auto;
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}

.letters-guess span {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 3px solid black;
  transition: 3s;
  background: rgba(106, 145, 255, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}

/* Space Styling */
.letters-guess span.with-space {
  background: none;
  border-bottom: none;
  position: relative;
}

.letters-guess span.with-space::before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Popups */
.popup {
  position: fixed;
  padding: 100px 20px;
  width: 80%;
  top: 10%;
  left: 10%;
  text-align: center;
  font-size: 40px;
  color: red;
  background: rgba(29, 78, 216, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.3px);
  -webkit-backdrop-filter: blur(15.3px);
  border: 1px solid rgba(29, 78, 216, 1);
}

.win-popup {
  position: fixed;
  padding: 100px 20px;
  width: 80%;
  top: 10%;
  left: 10%;
  text-align: center;
  font-size: 40px;
  color: #fff;
  background: rgba(29, 78, 216, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.3px);
  -webkit-backdrop-filter: blur(15.3px);
  border: 1px solid rgba(29, 78, 216, 1);
}

/* Media Query */
@media screen and (max-width: 1200px) {
  .letters .letter-box {
    width: 45px;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
  }
}
/* Media Query for smaller screens */
@media screen and (max-width: 992px) {
  .container {
    width: 90%;
  }

  .hangman-draw {
    max-width: 100%;
  }

  .letters .letter-box {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .hangman-draw {
    max-width: 100%;
  }

  .letters .letter-box {
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
  }
}

/* Media Query for very small screens */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .hangman-draw {
    max-width: 100%;
  }

  .letters .letter-box {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }
}
